# Django
SECRET_KEY=django-insecure-notifyhub-default-change-in-production-key-52*x+(^pz$ej#mhm)
DEBUG=True
ALLOWED_HOSTS=*
DATABASE_URL=sqlite:///db.sqlite3

# WhatsApp Cloud API (Meta sandbox)
WHATSAPP_ACCESS_TOKEN=your_whatsapp_access_token_here
PHONE_NUMBER_ID=1344168542108101

# Email - Brevo (free 300/day)
BREVO_API_KEY=your_brevo_api_key_here
BREVO_FROM_EMAIL=your_verified_sender_email@gmail.com
BREVO_FROM_NAME=NotifyHub

# Web Push - OneSignal (free)
ONESIGNAL_APP_ID=4a387361-7b94-4281-8341-9463af690d1c
ONESIGNAL_REST_API_KEY=your_onesignal_rest_api_key_here

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Frontend URL
FRONTEND_URL=http://localhost:5173
